<h1 mat-dialog-title>Enter Report Text:</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Report Text</mat-label>
    <textarea matInput [(ngModel)]="reportText"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="reportText" cdkFocusInitial>Ok</button>
</div>