.details-page-wrapper {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}
.personal-details {
    display: flex;
    column-gap: 5vw;
    .picture {
        flex: 1 1 30%;
        border: 1px solid;
    }
    .my-manager {
        display: flex;
        column-gap: 5vw;
    }
    .details {
        flex: 1 1 70%;
        display: flex;
        flex-direction: column;
    }
}

.descriptions-container {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    .description-row {
        display: flex;
        column-gap: 2vw;
        span {
            flex: 0 1 25%
        }
    }   
}



