<div class="details-page-wrapper" *ngIf="(employee$ | async) let employee; else pageLoader">
    <mat-card>
        <div class="personal-details">
            <div class="picture">
                <img class="avatar" height="100%" [src]="randomAvatarUrl">
            </div>
            <div class="details">
                <p>Name: {{employee.firstName}} {{employee.lastName}}</p>
                <p>Position: {{employee.position}}</p>
                <div *ngIf="(manager$ |async) let manager">
                    <hr style="width:100%">
                    <div class="my-manager">
                        <p>Manager: {{manager.firstName}} {{manager.lastName}}</p>
                        <button mat-raised-button color="primary" (click)="report(employee.id, manager.id)">REPORT</button>
                    </div>
                </div>                
            </div>
            
        </div>
    </mat-card>
    
    <mat-card *ngIf="employee.isManager && (reports$ | async) let reports;">
        <div class="my-reports">
            <h2>My Reports</h2>
            <div class="descriptions-container">
                <div *ngFor="let report of reports">
                    <p class="description-row">
                        <span>description: {{report.text}}</span>
                        <span> data: {{report.date | date}}</span>
                    </p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="(tasks$ | async) let tasks">
        <div class="my-tasks">
            <h2>My Tasks</h2>
            <div class="descriptions-container">
                <div *ngFor="let task of tasks" class="description-row">
                    <span>description: {{task.text}}</span>
                    <span> due data: {{task.dueDate | date}}</span>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="(subordinate$ | async) let subordinates">
        <div class="my-subordinates">
            <h2>My Subordinates:</h2>
            <div class="descriptions-container">
                <div *ngFor="let sub of subordinates" class="description-row">
                    <span>First Name: {{sub.firstName}}</span>
                    <span>Last Name: {{sub.lastName}}</span>
                    <span>Position: {{sub.position}}</span>
                    <button mat-raised-button color="primary" (click)="assignTask(sub.id)">ASSIGN TASK</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<ng-template #pageLoader>
 loading....
</ng-template>