<mat-toolbar color="primary">
    <a class="logo" routerLink="/home">Organization</a>
    <nav>
        <a routerLink="/employeeList">Employee List</a>
    </nav>
</mat-toolbar>
<main>
<router-outlet></router-outlet>

</main>