<div class="employee-row">
    <div>{{employeeData.firstName}}</div>
    <div>{{employeeData.lastName}}</div>
    <div>{{employeeData.position}}</div>
    <div>
        <a mat-raised-button color="primary" routerLink="/employeeDetails/{{employeeData.id}}">View</a>
    </div>
</div>