:host {
    padding: 5px 0;
    border-bottom: 1px solid;
}
:host:last-of-type {
    border-bottom: none;
}

.employee-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}