<h1 mat-dialog-title>New Task:</h1>
<div mat-dialog-content>
  <form #f="ngForm" name="taskForm">
    <mat-form-field>
        <mat-label>Task Text</mat-label>
        <textarea required matInput [(ngModel)]="task.text" name="text"></textarea>
        <mat-error *ngIf="f.submitted && !task.text">please enter text</mat-error>

    </mat-form-field>
    <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input required matInput [(ngModel)]="task.dueDate" [min]="minDate" name="dueDate" [max]="maxDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="f.submitted && !task.text">please enter due date</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button type="submit" (click)="submitForm(f)" cdkFocusInitial>Ok</button>
</div>